.input-group-text {
    width: 11%;
}

.input-group-text:hover {
    cursor: pointer;
    border-color: #828385 !important;
}

.input-group-text:disabled {
    background-color: #bbbbbb;
    border-color: #bbbbbb !important;
}

.input-group-text:disabled:hover {
    cursor: auto !important;
    border-color: #bbbbbb !important;
}